/* Google Font */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    font-family:'Poppins',sans-serif;
    background:#0B0B0B;
    color:#fff;
    overflow-x:hidden;
}

/*==========================
        NAVBAR
===========================*/

.custom-navbar{

    background:rgba(0,0,0,.75);
    backdrop-filter:blur(15px);

    padding:18px 0;

    transition:.4s;
}

.logo{

    color:#D4AF37 !important;

    font-size:32px;

    font-weight:700;

    text-decoration:none;

    letter-spacing:2px;
}

.logo span{

    color:white;
}

.navbar-nav .nav-link{

    color:white;

    font-size:17px;

    margin-left:22px;

    position:relative;

    transition:.4s;
}

.navbar-nav .nav-link:hover{

    color:#D4AF37;
}

.navbar-nav .nav-link::after{

    content:"";

    position:absolute;

    left:0;

    bottom:-5px;

    width:0;

    height:2px;

    background:#D4AF37;

    transition:.4s;
}

.navbar-nav .nav-link:hover::after{

    width:100%;
}

.active{

    color:#D4AF37 !important;
}