*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#0F172A;
    color:white;
    font-family:Arial, sans-serif;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 80px;
}

nav h2{
    color:#6C63FF;
}

nav ul{
    display:flex;
    gap:30px;
    list-style:none;
}

.hero{
    min-height:80vh;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:20px;
}

.hero h1{
    font-size:55px;
    color:#6C63FF;
}

.hero h2{
    margin-top:15px;
}

.tagline{
    margin-top:20px;
    font-size:22px;
}

.desc{
    max-width:600px;
    margin:20px auto;
    line-height:1.8;
}

.buttons{
    margin-top:30px;
}

.buttons button{
    padding:12px 25px;
    margin:10px;
    border:none;
    border-radius:8px;
    background:#6C63FF;
    color:white;
    cursor:pointer;
    font-size:16px;
}
