/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

body{
    background-image: linear-gradient(rgba(11,17,32,0.85),rgba(11,17,32,0.85)),url("images/background.jpg");
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    background-attachment:fixed;
    color:#F8FAFC;
    font-family:'Poppins',sans-serif;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

html{
    scroll-behavior:smooth;
}

body{
    background:#0B1120;
    color:#F8FAFC;
}

/* Navbar */

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:25px 80px;
}

nav h2{
    color:#8B5CF6;
    font-size:30px;
    font-weight:700;
}

nav ul{
    display:flex;
    gap:35px;
    list-style:none;
}

nav ul li{
    cursor:pointer;
    transition:0.3s;
}

nav ul li:hover{
    color:#8B5CF6;
}

/* Hero Section */

.hero{
    min-height:85vh;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:20px;
}

.hero-content{
    max-width:800px;
}

.hero h1{
    font-size:65px;
    color:#8B5CF6;
    margin-bottom:15px;
}

.hero h2{
    font-size:32px;
    margin-bottom:20px;
}

.tagline{
    font-size:22px;
    color:#CBD5E1;
    margin-bottom:20px;
}

.desc{
    font-size:18px;
    line-height:1.8;
    color:#94A3B8;
}

/* Buttons */

.buttons{
    margin-top:35px;
}

.buttons button{
    padding:14px 30px;
    margin:10px;
    border:none;
    border-radius:10px;
    background:#8B5CF6;
    color:white;
    font-size:16px;
    font-weight:600;
    cursor:pointer;
    transition:0.3s;
}

.buttons button:hover{
    transform:translateY(-4px);
    box-shadow:0 10px 25px rgba(139,92,246,0.4);
}

/* Responsive */

@media(max-width:768px){

    nav{
        padding:20px;
        flex-direction:column;
        gap:15px;
    }

    nav ul{
        gap:20px;
        flex-wrap:wrap;
        justify-content:center;
    }

    .hero h1{
        font-size:40px;
    }

    .hero h2{
        font-size:24px;
    }

    .tagline{
        font-size:18px;
    }

    .desc{
        font-size:16px;
    }

}
/* About Section */

.about{
    padding:100px 15%;
    text-align:center;
}

.about h2{
    color:#8B5CF6;
    font-size:40px;
    margin-bottom:25px;
}

.about p{
    color:#CBD5E1;
    font-size:18px;
    line-height:1.8;
    max-width:800px;
    margin:auto;
}
